<nav class="navbar navbar-expand-lg navbar-light shadow text-dark fixed-top bg-white">
    <div class="container">

      <a class="navbar-brand text-dark" routerLink="/">
          <i class="fas fa-globe-americas"></i>
          <span class="d-none d-md-inline"> MyLocations</span>
      </a>
        <div class="form-inline">
            <button class="btn btn-link float-md-right"
            [disabled]="!(addEnabled$ | async)"
            (click)="add()"
            >
            <i class="fas fa-plus"></i><span class="d-none d-md-inline"> Add</span>
          </button>
            <button class="btn btn-link float-md-right"
            [disabled]="!(editEnabled$ | async)"
            (click)="edit()"
            >
            <i class="fas fa-pencil-alt"></i><span class="d-none d-md-inline"> Edit</span>
          </button>
          <button class="btn btn-link float-md-right"
            [disabled]="!(removeEnabled$ | async)"
            (click)="remove()"
            >
            <i class="fas fa-trash-alt"></i><span class="d-none d-md-inline"> Remove</span>
          </button>

      </div>
    </div>

</nav>
