<h2 class="mt-4">Locations</h2>
<table class="table table-hover table-responsive-md table-borderless text-dark">
  <thead class="thead-light">
    <tr>
      <th scope="col" (click)="onClickSort('id')">#
        <i *ngIf="orderByKey === 'id'" [ngClass]="{'fa-sort-up': !orderAscending, 'fa-sort-down': orderAscending}"
          class="fas "></i>
      </th>
      <th scope="col" (click)="onClickSort('name')">Name
        <i *ngIf="orderByKey === 'name'" [ngClass]="{'fa-sort-up': !orderAscending, 'fa-sort-down': orderAscending}"
          class="fas "></i>
      </th>
      <th scope="col" (click)="onClickSort('address')">Address
        <i *ngIf="orderByKey === 'address'" [ngClass]="{'fa-sort-up': !orderAscending, 'fa-sort-down': orderAscending}"
          class="fas "></i>
      </th>
      <th scope="col">Longitude</th>
      <th scope="col">Latitude</th>
      <th scope="col">Categories</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let location of locations$ | async" (click)="onLocationClick(location.id)">
      <th scope="row">{{location.id}}</th>
      <td class="text-truncate">{{location.name}}</td>
      <td class="text-truncate">{{location.address}}</td>
      <td>{{location.coordinates.long}}</td>
      <td>{{location.coordinates.lat}}</td>
      <td class="text-truncate">
        <span *ngFor="let category of location.catagories" class="badge badge-pill badge-primary mr-1 catagories">
            {{category.name}}
        </span>
      </td>
    </tr>
  </tbody>
</table>

